<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Информация</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    
    <div id="header">{% include 'header.html' %}</div>

    <main style="
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    font-size:1.17em">
        <div class="container">
            <section>

                <div class="content-block">
                    <h3>В стоимость проживания включено</h3>
                    <ul>
                        <li>Наполнитель на выбор</li>
                        <li>Ежедневные игры и внимание</li>
                        <li>Ежедневный фото/видеоотчет</li>
                        <li>Лоток</li>
                        <li>Мисочки для корма и воды</li>
                    </ul>
                </div>

            </section>

            <section>
            <h2 class="section-title">Правила проживания и условия</h2>
            

            
            <div class="content-block">
                <h3>Рекомендации</h3>
                <p>Чтобы ускорить период адаптации котика к новым условиям, возьмите с собой:</p>
                <ul>
                    <li>Лежанку</li>
                    <li>Любимую игрушку</li>
                    <li>Вещь с вашим запахом</li>
                    <li>Немного наполнителя с его запахом</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="content-block">
                <h3>Питание</h3>
                <p>Корм необходимо принести с собой из расчета периода нахождения котика в нашей гостинице, согласно индивидуальному плану кормления.</p>
                <p>В случае, если корм закончится, по согласованию с вами, мы купим корм. При выселении необходимо будет доплатить, согласно чеку за покупку.</p>
            </div>
        </section>
        <section>
            <div class="content-block">
                <h3>ВАЖНО!</h3>
                <ul>
                    <li>Мы ежедневно наблюдаем за поведением и самочувствием вашего котика.</li>
                    <li>В случае любого отклонения от нормы, мы свяжемся с вами.</li>
                    <li>При необходимости с вашего согласия обратимся в ветеринарную клинику.</li>
                    <li>При выселении необходимо будет доплатить за понесенные расходы, согласно чеку на оказание услуг.</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="illustration" style="display: flex;justify-content: space-evenly; align-items: center;">
                <img style="width: 350px;height:200px ;" src="{{ url_for('static', filename='/images/info 3/1.webp') }}" alt="Иллюстрация котика">
                <img style="width: 350px;height:200px ;" src="{{ url_for('static', filename='/images/info 3/2.webp') }}" alt="Иллюстрация котика">
                <img style="width: 350px;height:200px ;" src="{{ url_for('static', filename='/images/info 3/4.jpg') }}" alt="Иллюстрация котика">
            </div>
        </section>
        </div>
    </main>

    <div id="footer">{% include 'footer.html' %}</div>

</body>
</html>